<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Trash.io</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <% if mobile %>
            <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <% end %>

        <link rel="stylesheet" type="text/css" href="/css/reset.css" />      
        
        <script type="text/javascript" src="/js/jq.js"></script>
        <script type="text/javascript" src="/js/jq.color.js"></script>
        <script type="text/javascript" src="/js/jq.cookie.js"></script>
        <script type="text/javascript" src="/js/reconnecting.ws.js"></script>
        <script type="text/javascript" src="/js/jq.transit.js"></script>
        <script type="text/javascript" src="/js/Trash.js?av=<%= av %>"></script>
        <script type="text/javascript" src="/js/TrashIO.js?av=<%= av %>"></script>
        <script type="text/javascript" src="/js/TrashTruck.js?av=<%= av %>"></script>
        <script type="text/javascript" src="/js/Archive.js?av=<%= av %>"></script>
        <script type="text/javascript" src="/js/Camera.js?av=<%= av %>"></script>
        <script type="text/javascript" src="/js/Stream.js?av=<%= av %>"></script>

        <!-- TypeKit -->
        <script type="text/javascript" src="//use.typekit.net/nii6ldc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <% if mobile %>
            <link rel="stylesheet" type="text/css" href="/css/mobile/mobile.css?av=<%= av %>" />
            <script type="text/javascript" src="/js/mobile/mobile.js?av=<%= av %>"></script>
        <% else %>
            <link rel="stylesheet" type="text/css" href="/css/main/main.css?av=<%= av %>" />
            <link rel="stylesheet" type="text/css" href="/css/archive.css?av=<%= av %>" />
            <link rel="stylesheet" type="text/css" href="/css/camera.css?av=<%= av %>" />
            <link rel="stylesheet" type="text/css" href="/css/dnd.css?av=<%= av %>" />
            <link rel="stylesheet" type="text/css" href="/css/stream.css?av=<%= av %>" />
            <script type="text/javascript" src="/js/main/main.js?av=<%= av %>"></script>
            <script type="text/javascript" src="/js/main/login.js?av=<%= av %>"></script>
            <script type="text/javascript" src="/js/main/urlize.js?av=<%= av %>"></script>
            <script type="text/javascript" src="/js/jq.webcam.js"></script>
        <% end %>

        <!-- Mobile web additions -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/mobile/apple-touch-icon-114x114-precomposed.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    </head>
    <body>
        <%= yield %>
    </body>
</html>